
* {
    font-family:monospace;
    margin: 0%;
}
.pasek {
    background-color: #6A37ec;
    height: 60px;
    display: flex;


    
}
.name-of-app {
    color: white;
    font-weight: bold;
    margin-left: 150px;
    font-size: 2em;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.date {
    margin-top: 30px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 130px;
    border-bottom:1px solid #888585;

}
.today {
    font-weight: bold;
    font-size: 3.5em;
    margin-right: 50px;
    float:left;
}
.current-date {
    
    margin-top:10px;
}
.box {
   
    height: 35rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.main {
    font-weight: bold;
    font-size: 3.4em;
    margin-bottom: 20px;
}
.submain {
    font-size: 1.7em;
    margin-bottom: 60px;
}
.myButton {
    width: 150px;
    height: 45px;
	box-shadow: 2px -3px 0px 1px #9fb4f2;
	background:linear-gradient(to bottom, #7749ec 5%, #6837e4 100%);
	background-color:#7749ec;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	padding:10px 23px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #6837e4 5%, #7749ec 100%);
	background-color:#7749ec;
}
.myButton:active {
	position:relative;
	top:1px;
}
.rowimg {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img {
    padding: 10%;
    width: 480px;
    height: 320px;

}
.textarea {
    margin-left: 130px;
    width: 530px;
    height: 110px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 8px;

}
#HomeButton {
    margin-left: 130px;
    margin-right: 20px;
}
#CancelButton {
    box-shadow: 2px -3px 0px 1px gray;
	background-color:rgba(255, 255, 255, 0.781);
    border: #888585;
    width: 150px;
    height: 45px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color: gray;
	font-size:20px;
	padding:10px 23px;
	text-decoration:none;
    border: 2px solid gray;
    margin-right: 20px;
}
#CancelButton:hover {
	background-color:white;
    color: rgba(128, 128, 128, 0.74);
}
.listshow {
    margin-left: 130px;
    border-bottom:1px solid #888585;

    padding-bottom: 40px;
    padding-top: 40px;
}
.ButtonMargin {
    margin-left: 130px;
}
.task {
    margin-bottom: 20px ;
}